
# Do not remove this file. It is used to tell cPanel how to run the application.
PassengerNodejs /usr/bin/node
PassengerAppRoot /home/englizyedu/mokawalat.englizyedu.com
PassengerAppType node
PassengerStartupFile server.js
PassengerAppEnv production
