# Your web hosting provider may have specific directives.
# This is a basic configuration that should work for most cPanel environments.
DirectoryIndex disabled
RewriteEngine On
RewriteRule ^(.*)$ http://127.0.0.1:9003/$1 [P,L]
